.footerContainer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;;
    background-color: white;
    color: black;
    font-weight: lighter;
    max-width: 100%;
    margin-top: 100px;
}