.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: calc(22px + 0.5vw);
}

.links {
    list-style: none;
    flex-direction: row;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 10px;
}

.link {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration:underline;
}

.cartLink {
    margin: 10px;
    position: relative;
}

.cartLinkButton {
    background-color: transparent;
    border: none;
    font-size: calc(22px + 0.5vw);
    font-weight: bold;
}

.cartLinkButton:hover {
    text-decoration: underline;
}